<form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label >Name:</mat-label>
    <input
    matInput
      id="name"
      name="name"
      type="text"
      formControlName="name"

    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Phone:</mat-label>
    <input
    matInput
      id="phone"
      name="phone"
      type="text"
      formControlName="phone"

    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email:</mat-label>
    <input
    matInput
      id="email"
      name="email"
      type="text"
      formControlName="email"

    />
  </mat-form-field>
  <button mat-raised-button type="submit">Save</button>
</form>
