.container{
    display: flex;
    justify-content: space-between;
    background-color: black;
}
.navbar{
    display: flex;
  
}
a{
    text-decoration: none;
    color: white;
    display: block;
   
    padding: 2vh 2vh;
    transition: 1s;
}
a:hover{
    background-color: greenyellow;
}