@use "@angular/material" as mat;

@include mat.core();

$theme: mat.define-theme(
  (
    color: (
      primary: mat.$azure-palette,
    ),
    typography: (
      plain-family: Roboto,
      bold-weight: 900,
      medium-weight: 500,
      regular-weight: 300,
    ),
    density: (
      scale: 0,
    ),
  )
);

:root {
  color-scheme: light ;
  @include mat.all-component-themes($theme);
  @include mat.typography-hierarchy($theme);
  @include mat.system-level-colors($theme);
  @include mat.fab-overrides(
    (
      small-container-color: var(--mat-sys-primary-container),
    )
  );
  @include mat.snack-bar-overrides(
    (
      container-color: mat.get-theme-color($theme, primary, 10),
    )
  );
}
