
.container-form {
        display: flex;
    justify-content: center;
  margin: 5rem 2rem 0 2rem;
}
  mat-form-field {
    width: 60vw;
    margin: 1rem;
  }
button{
    width: 5rem;
    margin-right: 2rem;
}
form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
a{
    width: 5rem;
    align-self: flex-end;
}