
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="title">Title:</label>
      <input
        id="title"
        name="title"
        type="text"
        formControlName="title"
        [placeholder]="product()?.title ? product()?.title : ''"
      />
    </div>
    <div>
      <label for="description">Description:</label>
      <input
        id="description"
        name="description"
        type="text"
        formControlName="description"
        [placeholder]="product()?.description ? product()?.description : ''"
      />
    </div>
    <div>
      <label for="stock">Stock:</label>
      <input
        id="stock"
        name="stock"
        type="number"
        formControlName="stock"
        [placeholder]="product()?.stock ? product()?.stock : ''"
      />
    </div>
    <div>
      <label for="price">Price:</label>
      <input
        id="price"
        name="price"
        type="number"
        step="any"
        formControlName="price"
        [placeholder]="product()?.price ? product()?.price : ''"
      />
    </div>
    <button type="submit">Save</button>
  </form>