<div class="calendar-headline">
  <h2>
    {{ firstDayOfActiveMonth().monthShort }}
    {{ firstDayOfActiveMonth().year }}
  </h2>

  <mat-card>
    <mat-card-actions>
      <button mat-icon-button (click)="goToPreviousMonth()">
        <mat-icon fontIcon="arrow_back" />
      </button>

      <button mat-stroked-button (click)="goToToday()">Today</button>
      <button mat-icon-button (click)="goToNextMonth()">
        <mat-icon fontIcon="arrow_forward" />
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<mat-card class="calendar-card">
  <mat-grid-list
    cols="7"
    class="calendar"
    rowHeight="{{ isSmallScreen()?.matches ? '3:4' : '5:2' }}"
    gutterSize="0.5rem"
  >
    @for (weekDay of weekDays(); track $index){
    <mat-grid-tile>{{ weekDay }}</mat-grid-tile>
    } @for (dayOfMonth of daysOfMonth(); track $index) {
    <mat-grid-tile
      rowspan="2"
      class="calendar-day"
      [ngClass]="{
        'calendar-day-inactive':
          dayOfMonth.month !== firstDayOfActiveMonth().month
      }"
      (click)="activeDay.set(dayOfMonth); openDay(dayOfMonth)"
    >
      <div class="day-content">
        @if(meetings()[dayOfMonth.toFormat('yyyy-MM-dd')] &&
        meetings()[dayOfMonth.toFormat('yyyy-MM-dd')].length>0){

        <span
          matBadge="{{ meetings()[dayOfMonth.toFormat('yyyy-MM-dd')].length }}"
          matBadgeOverlap="true"
          matBadgePosition="before"
        >
        </span>
        }
        <span class="day">{{ dayOfMonth.day }}</span>
      </div>
    </mat-grid-tile>
    }
  </mat-grid-list>
</mat-card>
