<div class="calendar-headline">
  <h2>
    {{ firstDayOfActiveMonth().monthShort }}
    {{ firstDayOfActiveMonth().year }}
  </h2>

  <mat-card>
    <mat-card-actions>
      <button mat-icon-button (click)="goToPreviousMonth()">
        <mat-icon fontIcon="arrow_back" />
      </button>

      <button mat-stroked-button (click)="goToToday()">Today</button>
      <button mat-icon-button (click)="goToNextMonth()">
        <mat-icon fontIcon="arrow_forward" />
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<mat-card class="calendar-card">
  <mat-grid-list cols="7" rowHeight="5:1" gutterSize="2px">
    @for (weekDay of weekDays(); track $index){
    <mat-grid-tile>{{ weekDay }}</mat-grid-tile>
    } @for (dayOfMonth of daysOfMonth(); track $index) {
    <mat-grid-tile
      rowspan="2"
      class="calendar-day"
      [ngClass]="{
        'calendar-day-inactive':
          dayOfMonth.month !== firstDayOfActiveMonth().month
      }"
      (click)="activeDay.set(dayOfMonth); openDay(dayOfMonth)"
    >
      @if(meetings()[dayOfMonth.toFormat('yyyy-MM-dd')] &&
      meetings()[dayOfMonth.toFormat('yyyy-MM-dd')].length>0){
      <span
        matBadge="{{ meetings()[dayOfMonth.toFormat('yyyy-MM-dd')].length }}"
        >{{ dayOfMonth.day }}</span
      >
      }@else{
      <span>{{ dayOfMonth.day }}</span>
      }
    </mat-grid-tile>
    }
  </mat-grid-list>
</mat-card>
