@use "@angular/material" as mat;
@use "../../../theme.scss" as theme;

.calendar-headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2vh 5vh 2vh 5vh;
}
@media ((max-width: 599.98px)) {
  .calendar-headline {
    flex-direction: column;
  }
}
.calendar-card {

  padding: 2rem;
  margin: 0 1rem 1rem 1rem;
}

.calendar-day {
  border-radius: 10px;
  cursor: pointer;
}

.calendar-day-inactive {
  color: mat.get-theme-color(theme.$theme, secondary, 70);
}

.calendar-day:hover {
  background: mat.get-theme-color(theme.$theme, secondary, 80);
}

.day {
  margin: 0.8rem;
}
.day-content {
  display: flex;
  flex-direction: column;

  align-items: center;
}
