@use "@angular/material" as mat;
@use "../../../theme.scss" as theme;

.calendar-headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2vh 5vh 2vh 5vh;
}

.calendar-card {
  padding: 3vh;
  margin: 0 5vh 0 5vh;
}

.calendar-day {
  border-radius: 2vh;
  cursor: pointer;
}

.calendar-day-inactive {
  color: mat.get-theme-color(theme.$theme, secondary, 70);
}

.calendar-day:hover {
  background: mat.get-theme-color(theme.$theme, secondary, 80);
}

span{
  padding: 2vh;
}