app-client {
  display: contents;
}
app-client-form {
  padding: 2vh;
}
table,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
table {
  width: 100%;
}
thead {
  font-weight: bolder;
}
td {
  padding: 5vh;
  text-align: center;
}
